<%- include('includes/head.ejs', {username: username}) %>

<h1 class="title">Hola mundo de Minecraft!</h1>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/1/18/Note_Block_JE2_BE2.png"
            alt="Imagen de "
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left"></div>
          <div class="media-content">
            <p class="title is-4">Noteblock</p>
            <p class="subtitle is-6">
              Hace sonidos de acuerdo con el bloque debajo suyo
            </p>
          </div>
        </div>

        <div class="content">
          Se crea rodeando polvo de redstone con madera de cualquier tipo.
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/5/5a/Stone_Bricks_JE3_BE2.png"
            alt="Imagen de ladrillos de piedra"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">Ladrillos de piedra</p>
            <p class="subtitle is-6">
              Son un bloque muy bonito y perfecto para crear castillos y ese
              tipo de estructuras
            </p>
          </div>
        </div>

        <div class="content">
          Se crea con un cortapiedras o 4 piedras en los slots (1,2,3,5) de la
          mesa de crafteo.
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/3/3a/Cherry_Planks_JE1.png"
            alt="Imagen de madera de cerezo"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left"></div>
          <div class="media-content">
            <p class="title is-4">Madera de cerezo</p>
            <p class="subtitle is-6">Un bloque muy bonito con su rosa pastel</p>
          </div>
        </div>

        <div class="content">
          Coloca tronco de cerezo en la mesa de crafteo.
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/3/31/Block_of_Netherite_JE1_BE1.png"
            alt="Imagen de Bloque de netherite"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left"></div>
          <div class="media-content">
            <p class="title is-4">Bloque de netherite</p>
            <p class="subtitle is-6">
              Un bloque demasiado valioso y aunque no tiene tantos usos, se
              utiliza parte de él para mejorar tu equipo
            </p>
          </div>
        </div>

        <div class="content">
          Se crea llenando la mesa de crafteo con netherite, un recurso que se
          crea con 4 lingotes de oro y 4 escombros ancestrales.
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('includes/foot.ejs') %>
